<div>

  <md-content class="col-lg-12 col-md-12">

    <h1 class="md-display-1">Usuarios registrados actualmente</h1>
    <md-list class="col-lg-11" style="margin-left: 4%;">
      <md-list-item ng-repeat="user in allUsers.usersData" class="noright">
        <md-divider style="top: 0!important;"></md-divider>
        <!--<img alt="{{ user.name}} {{user.surname}}" ng-src="{{ user.img }}" class="md-avatar" />-->
        <p class="md-body-2">{{ user.name }} {{user.surname}}</p>
        <md-button class="md-icon-button" ng-click="allUsers.moreInfo($event, user.id)">
           <i class="material-icons middle-icon">info</i>
          <md-tooltip md-direction="top">Mas información del usuario</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="allUsers.editUser($event, user.id)">
          <i class="material-icons middle-icon">mode_edit</i>
          <md-tooltip md-direction="top">Editar usuario</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="allUsers.deleteUser($event, user.id)">
          <i class="material-icons middle-icon">delete</i>
          <md-tooltip md-direction="top">Borrar usuario</md-tooltip>
        </md-button>
      </md-list-item>
    </md-list>

  </md-content>

</div>
