<div >
  <md-content layout-xs="column" layout="row" class="common-background">

      <md-card class="registration-card">
        <md-card-title class="registration-card-title md-primary">
          <md-card-title-text layoyt="row">
            <h2 class="md-headline title-card">Registro de personas</h2>
          </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
          <md-input-container>
            <label>First Name</label>
            <input ng-model="main.person.firstName">
          </md-input-container>
          <md-input-container>
            <label>Surname</label>
            <input ng-model="main.person.surname">
          </md-input-container>
          <md-input-container>
            <label>Address</label>
            <input ng-model="main.person.address">
          </md-input-container>
          <md-input-container>
            <label>Country</label>
            <input ng-model="main.person.country">
          </md-input-container>
          <md-input-container>
            <label>Phone</label>
            <input ng-model="main.person.phone">
          </md-input-container>
          <md-input-container>
            <label>Mobile</label>
            <input ng-model="main.person.mobile">
          </md-input-container>
          <md-input-container>
            <label>Email</label>
            <input ng-model="main.person.email" type="email">
          </md-input-container>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-primary">Agregar persona</md-button>
        </md-card-actions>
      </md-card>
  </md-content>
</div>
