<md-content layout="column">

  <div class="col-lg-11" style="margin-bottom: 20px;">
    <h1 class="md-display-1">Registrar nuevo usuario</h1>
  </div>

  <form name="userForm" layout="column" class="col-lg-11">

    <!--<div flex="100" class="image-block">
       <div class="abm-dialog-photo circle" id="abm-dialog-photo" style="background-image: url('{{newUser.image}}')"></div>
       <md-button ng-click="newUser.selectFile()" class="photo-user md-raised md-primary circle">
         <i class="material-icons middle-icon" style="color: #FFFFFF;">file_upload</i>
         <md-tooltip md-direction="right">Subir foto</md-tooltip>
       </md-button>
       <p ng-show="imgSize" class="img-max-size">El tamaño de la imagen supera los {{newUser.IMAGE_MAX_SIZE}} MB. Debe seleccionar otra imagen.</p>
       <input onchange="angular.element(this).scope().newUser.prepareFile()" accept="image/*" id="user-file-upload" type="file" style="display:none;">
     </div>-->
    <div class="new-user-input">
      <md-input-container>
        <label class="md-body-1">Nombre</label>
        <input ng-model="newUser.user.name" type="text" required>
      </md-input-container>
      <md-input-container>
        <label class="md-body-1">Apellido</label>
        <input ng-model="newUser.user.surname" type="text" required>
      </md-input-container>
    </div>
    <div class="new-user-input">
      <md-input-container>
        <label class="md-body-1">DNI</label>
        <input ng-model="newUser.user.dni" type="text" required>
      </md-input-container>
      <md-input-container>
        <label class="md-body-1">Email</label>
        <input ng-model="newUser.user.email" type="email">
      </md-input-container>
    </div>
    <div class="new-user-input">
      <md-input-container>
        <label class="md-body-1">Dirección</label>
        <input ng-model="newUser.user.address" type="text">
      </md-input-container>
      <md-input-container>
        <label class="md-body-1">País</label>
        <input ng-model="newUser.user.country" type="text">
      </md-input-container>
    </div>
    <div class="new-user-input">
      <md-input-container>
        <label class="md-body-1">Teléfono</label>
        <input ng-model="newUser.user.phone" type="text">
      </md-input-container>
      <md-input-container>
        <label class="md-body-1">Celular</label>
        <input ng-model="newUser.user.mobile" type="text">
      </md-input-container>
    </div>
  </form>

  <div layout="row" layout-align="end center">
    <md-button class="md-raised md-primary" ng-disabled="!userForm.$valid" ng-click="newUser.createUser()">Agregar usuario</md-button>
  </div>
</md-content>
